<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WBSEproject</display-name>
  <welcome-file-list>
    <welcome-file>intropage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CountPlayerServlet</servlet-name>
    <servlet-class>maze.controller.servlet.CountPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountPlayerServlet</servlet-name>
    <url-pattern>/count</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>maze.controller.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SomeOneDieServlet</servlet-name>
    <servlet-class>maze.controller.servlet.SomeOneDieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomeOneDieServlet</servlet-name>
    <url-pattern>/SomeOneDie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>maze.controller.servlet.LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/Leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoRefreshRoomServlet</servlet-name>
    <servlet-class>maze.controller.servlet.AutoRefreshRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoRefreshRoomServlet</servlet-name>
    <url-pattern>/AutoRefreshRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoRefreshInRoomServlet</servlet-name>
    <servlet-class>maze.controller.servlet.AutoRefreshInRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoRefreshInRoomServlet</servlet-name>
    <url-pattern>/AutoRefreshInRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitRoomServlet</servlet-name>
    <servlet-class>maze.controller.servlet.ExitRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitRoomServlet</servlet-name>
    <url-pattern>/ExitRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConstructRoomServlet</servlet-name>
    <servlet-class>maze.controller.servlet.ConstructRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConstructRoomServlet</servlet-name>
    <url-pattern>/ConstructRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainGameServlet</servlet-name>
    <servlet-class>maze.controller.servlet.MainGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainGameServlet</servlet-name>
    <url-pattern>/MainGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreAndGetMoveServlet</servlet-name>
    <servlet-class>maze.controller.servlet.StoreAndGetMoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreAndGetMoveServlet</servlet-name>
    <url-pattern>/StoreAndGet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
			maze.controller.listener.PlayerSessionListener
	</listener-class>
  </listener>
  <listener>
    <listener-class>
			maze.controller.listener.WelcomeContextListener
	</listener-class>
  </listener>
</web-app>